<template>
  <div id="app">
    <div class="containerfirst">
      <div class="gradcont">
        <div class="shirinacontfirst">
          <div class="shapka">
            <div class="logocont">
              <a href="/"><img src="./assets/Logoo.png"></a>
            </div>
            <div class="textshapka">
              <a href="#aboutus">О нас</a>
              <a href="#howitworks">Как это работает</a>
              <a href="#kontaktiki">Контакты</a>
              <div class="profile">
                <a href="/">Личный кабинет <img src="./assets/Vector.png"></a>
              </div>
            </div>
          </div>
          <div class="kruptext">
            <h1>Первый на рынке Маркетплейс<br/>кредитных заявок</h1>
          </div>
          <div class="melfirst">
            <p>Увеличьте доходность своего бизнеса за счет готового <br/> неиспользованного спроса на кредиты</p>
          </div>
          <div class="buttonpart">
            <button><a href="#bepartners">Cтать партнером</a></button>
          </div>
          <div class="viebony">
            <div class="razmerkazh">
              <img src="./assets/Vector2.png" class="borvieb">
              <div class="otstup">
                <h1>90+</h1>
                <p>Заявок</p>
              </div>
            </div>
            <div class="razmerkazh">
              <img src="./assets/Chelik.png" class="borvieb">
              <div class="otstup">
                <h1>30+</h1>
                <p>Акции</p>
              </div>
            </div>
            <div class="razmerkazh">
              <img src="./assets/Tarifs2.png" class="borvieb">
              <div class="otstup">
                <h1>50+</h1>
                <p>Тарифы</p>
              </div>
            </div>
          </div>
          <img src="./assets/strelochka.png" class="strelochka">
        </div>
      </div>
    </div>
    <a name="aboutus"></a>
    <div class="containersecond">
      <div class="kartitext">
        <div class="kartitextt">
          <img src="./assets/illustration.png">
          <div class="kartintext">
            <h1>О нашей компании</h1>
            <div class="textvnutri">
              <img src="./assets/Galochka.png" class="galochka">
              <div class="textpom">
                <p>Увеличьте доходность своего бизнеса за счет готового<br/>неиспользованного спроса не кредиты</p>
              </div>
            </div>
            <div class="textvnutri">
              <img src="./assets/Galochka.png" class="galochka">
              <div class="textpom">
                <p>Поможем найти клиента который хочет и может получить<br/>кредит сейчас!</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="Whywe">
      <h1>Почему мы?</h1>
      <p>Преимущество</p>
      <div class="textonfirstcontkart">
        <div class="obshseccont">
          <div class="textonfirstcont">
            <h3>- Клиенты которым нужны именно Вы</h3>
            <h3>- Проверенные клиенты от Банков<br/>второго уровня РК здесь и сейчас</h3>
            <h3>- Мы Ваш канал прямых продаж на аутсорсе</h3>
          </div>
          <img src="./assets/illustration_2.png" class="illucont">
        </div>
      </div>
    </div>

    <div class="fourthcont">
      <div class="whatfourcont">
        <a name="howitworks"></a>
        <h1>Как это работает</h1>
        <div class="ciferki">
          <img src="./assets/Frame 1305.png">
          <img src="./assets/Frame 1306.png">
          <img src="./assets/Frame 1315.png">
          <div class="punktir"></div>
        </div>
        <div class="centercif">
          <div class="centercifsec">
            <div class="textpod"><img src="./assets/illustration_step_1.png">
              <p>Ежедневно на платформе<br/> будут размещены горячие <br/> предложения в режиме онлайн <br/> времени!
              </p></div>
            <div class="textpod"><img src="./assets/illustration_step_2.png">
              <p>Получите список ваших<br/> клиентов в личном кабинете <br/> Быстро и Просто!</p></div>
            <div class="textpod"><img src="./assets/illustration_step_3.png">
              <p>Заработайте на продажах <br/> вместе с нами!</p></div>
          </div>
        </div>
      </div>
      <a name="bepartners"></a>
      <div class="anketa">
        <div class="razmetkaanketi">
          <div class="anketafirst">
            <h1>Стать партнером</h1>
            <h2>Получите предложение от нас</h2>
            <div class="fio">
              <div class="fiofirst">
                <input type="text" placeholder="Фамилия Имя Отчество" class="textfio"></div>
              <div class="fiofirst"><input type="text" placeholder="Моб.телефон" class="textfio"></div>
              <div class="fiofirst"><input type="text" placeholder="E-mail" class="textfio"></div>
            </div>
            <p>Нажимая на кнопку вы даете согласие на <br/> обработку персональных данных</p>
            <div class="zayavka">
              <button><a href="/">Заявка на участие</a></button>
            </div>
          </div>
          <div class="anketasecond">
            <h1>Будем рады помочь</h1>
            <div class="texthelp">
              <h2>Алматы</h2>
              <p class="textinsecs"><a href="/"> +7 (701) 111 22 33</a></p>
              <p class="textinsecs"><a href="/">info@ufinance.com</a></p>
              <img src="./assets/infosecond.png" class="imginfo">
            </div>
          </div>
        </div>
      </div>
      <div class="banki">
        <div class="firststroka">
          <a href="/"><img src="./assets/ForteBank.png" class="levopravo"></a>
          <a href="/"><img src="./assets/Asiacredit.png" class="levopravo"></a>
          <a href="/"><img src="./assets/Alfabank.png" class="levopravo"></a>
          <a href="/"><img src="./assets/Vtb.png" class="levopravo"></a>
          <a href="/"><img src="./assets/KGD.png" class="levopravo"></a>
          <a href="/"><img src="./assets/zerde.png" class="levopravo"></a>
        </div>
        <div class="secondstroka">
          <a href="/"><img src="./assets/Bi.png" class="levopravo"></a>
          <a href="/"><img src="./assets/sber.png" class="levopravo"></a>
          <a href="/"><img src="./assets/kazmunai.png" class="levopravo"></a>
          <a href="/"><img src="./assets/citibank.png" class="levopravo"></a>
          <a href="/"><img src="./assets/rbk.png" class="levopravo"></a>
          <a href="/"><img src="./assets/eurasian.png" class="levopravo"></a>
        </div>
      </div>
    </div>
    <a name="kontaktiki"></a>
    <div class="fifthcont">
      <div class="fifthcontrazmer">
        <div class="inlinecont">
          <div class="fifthfirst">
            <a href="/"><img src="./assets/Logooo.png"></a>
            <p>UFinance уникальная платформа для лидогенерации,мы <br/> помогаем в решении проблемы с лидогенерациями
              Банкам <br/> второго уровня, и самое ключевое это мы помогаем в <br/>нахождении потенциальных клиентов для
              МКО/МФО И <br/> ломбардов</p>
            <div class="knopochki">
              <a href="/"><img src="./assets/Faceboook.png"></a>
              <a href="/"><img src="./assets/Twittter.png"></a>
              <a href="/"><img src="./assets/Instagraam.png"></a>
            </div>
            <p>@2020UFinance</p>
          </div>
          <div class="zakl">
            <div class="fifthsecond">
              <a href="/"><h2>Product</h2></a>
              <a href="/"><p>Download</p></a>
              <a href="/"><p>Pricing</p></a>
              <a href="/"><p>Locations</p></a>
              <a href="/"><p>Server</p></a>
              <a href="/"><p>Countries</p></a>
              <a href="/"><p>Blog</p></a>
            </div>
            <div class="fifththird">
              <a href="/"><H2>Engage</H2></a>
              <a href="/"><p>LaslesVPN ?</p></a>
              <a href="/"><p>FAQ</p></a>
              <a href="/"><p>Tutorials</p></a>
              <a href="/"><p>About us</p></a>
              <a href="/"><p>Privacy Policy</p></a>
              <a href="/"><p>Terms of Service</p></a>
            </div>
            <div class="fifthfourth">
              <a href="/"><h2>Earn Money</h2></a>
              <a href="/"><p>Affilate</p></a>
              <a href="/"><p>Become Partner</p></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>


</script>

<style lang="scss">
#app {
  font-family: 'Rubik', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #ffffff;

}

.melfirst {
  a {
    font-size: 16px;
    text-decoration: none;
    color: white;
  }
}

.buttonpart {
  width: 100%;

  button {
    width: 263px;

    a {
      padding-top: 12px;
      padding-bottom: 12px;
      text-decoration: none;
      color: white;
    }
  }

}

.containerfirst {
  width: 100%;
  background: url("./assets/image 28.png") no-repeat center;
  background-size: cover;
}

.gradcont {
  width: 100%;
  background: linear-gradient(180deg, rgba(25, 33, 38, 0.69) 0%, #192126 95.61%);

}

.shapka {
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding-top: 72px;
}

.shirinacontfirst {
  width: 1140px;
  margin: 0 auto;
}

h1 {
  text-align: left;
  font-size: 50px;
  line-height: 59px;
}

.profile {
  background: #283237;
  border-radius: 5px;
  margin-left: 30px;
  padding-top: 12px;
  padding-bottom: 12px;

}

.logocont {

}

.textshapka {
  justify-content: space-between;
  display: inline-flex;
  text-align: center;
  align-items: center;

  a {
    text-decoration: none;
    color: white;
    margin-left: 20px;
    margin-right: 20px;

  }

  p {
    margin-left: 20px;
    margin-right: 20px;
  }
}

.kruptext {
  margin-top: 117px;
}

.melfirst {
  text-align: left;

  p {
    font-size: 16px;
    line-height: 19px;

    color: #92929D;
  }
}

.buttonpart {
  background: #47A07E;
  border-radius: 5px;
  width: 263px;
  margin-top: 40px;

  p {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 65px;
    padding-right: 65px;
  }
}

.viebony {
  width: 100%;
  display: inline-flex;
  background: #283237;
  border-radius: 10px;
  margin-top: 58px;
  padding-bottom: 50px;
  padding-top: 50px;
  justify-content: space-between;
}

.borvieb {
  background: #35424A;
  border-radius: 70px;
  padding: 24px;
  margin-right: 32px;
}


.obshvieb {
  width: 100%;
  display: flex;
}

.razmerkazh {
  display: inline-flex;
  align-items: center;
  border-right: white 1px solid;
  border-left: white 1px solid;
  padding-left: 100px;
  padding-right: 100px;

  &:first-child {
    padding-left: 85px;
    border-right: 0;
    border-left: 0;
    padding-right: 0;
  }

  &:last-child {
    padding-right: 86px;
    border-right: 0;
    border-left: 0;
    padding-left: 0;
  }

  h1 {
    margin: 0 auto;
  }

  p {
    text-align: left;
    color: #92929D;
    font-size: 20px;
    line-height: 30px;
    margin: 0;
  }
}

.strelochka {
  padding-top: 46px;
  padding-bottom: 135px;
  display: block;
  margin: 0 auto;
}

body, #app {
  margin: 0;
}

.containersecond {
  padding-top: 46px;
  width: 100%;
  padding-bottom: 232px;
  background: #192126;
}

.kartitext {
  width: 1140px;
  margin: 0 auto;
}

.kartitextt {
  width: 100%;
  display: flex;
  justify-content: space-between;

}

.galochka {
  margin-right: 12px;
  align-items: center;
}

.textvnutri {
  align-items: center;
  display: flex;
  padding-bottom: 26px;
}

.kartintext {
  margin-top: 55px;

  h1 {

    margin: 0 auto;
    padding-bottom: 64px;

  }

  p {
    margin-top: 0;
    margin-bottom: 0;
    color: #92929D;
  }
}

.Whywe {
  width: 100%;
  background: #283237;
  margin: 0 auto;
  padding-top: 143px;

  h1 {
    margin: 0;
    text-align: center;
  }

  p {
    margin: 0;
    margin-top: 37px;
    text-align: center;
    color: #92929D;

  }
}

.textonfirstcontkart {
  width: 1140px;
  margin: 0 auto;

}

.obshseccont {
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 60px;
  padding-bottom: 217px;
}

.textonfirstcont {
  h3 {
    font-size: 20px;
    line-height: 24px;
  }
}

.fourthcont {
  width: 100%;
  background: #192126;
  margin: 0 auto;

  h1 {
    text-align: center;
    padding-top: 178px;
    margin: 0;
    padding-bottom: 118px;
    font-size: 50px;
  }
}

.whatfourcont {
  width: 1140px;
  margin: 0 auto;
  padding-top: 178px;

  h1 {
    font-size: 50px;
    font-weight: bold;
    padding-top: 0;
  }
}

.ciferki {
  width: 100%;
  display: inline-flex;
  align-items: center;
  margin: 0 auto;
  justify-content: space-around;
  position: relative;

  img {
    z-index: 4;
  }
}


.centercif {
  width: 1140px;
  margin: 0 auto;
  padding-bottom: 279px;

}

.centercifsec {
  width: 100%;
  justify-content: space-around;
  display: flex;
  text-align: center;
  margin: 0 auto;
  padding-top: 77px;

  p {
    padding-top: 32px;
    font-weight: 500;
    font-size: 20px;
  }
}

.textcifsec {
  width: 100%;
  display: inline-flex;
  margin-right: 78px;
  margin-left: 78px;

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }

}

.textinsec {
  width: 1140px;
  margin: 0 auto;
  display: inline-flex;
  text-align: center;
}

.anketa {
  width: 1140px;
  margin: 0 auto;
  background: #283237;
}

.anketafirst {
  width: 100%;
  h2 {
  color: #92929D;}
  padding-left: 68px;
  padding-right: 148px;
  margin-bottom: 93px;
  padding-top: 70px;
  font-weight: bold;
  border-right: #192126 2px solid;

  a:hover,
  a:-webkit-any-link {
    color: white;
    text-decoration: none;
  }

  h2 {
    font-size: 16px;
    padding-bottom: 20px;
  }

  h1 {
    padding-top: 0;
    padding-bottom: 31px;
    text-align: left;
  }

  p {
    padding-bottom: 55px;
    color: #92929D;
    margin: 0;
    font-size: 16px;
  }

  .textfio {
    background-color: #283237;
    color: #BDBDBD;
    width: 334px;
    font-size: 14px;
    border: 1px #92929D solid;
    border-radius: 4px;
    padding-top: 14px;
    padding-bottom: 12px;
    padding-left: 16px;
  }

  .fiofirst {
    padding-bottom: 31px;
  }
}

.fio {
  button {
    a: hover;
    color: white;
    text-decoration: none;
  }
}

.razmetkaanketi {
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
}

button {
  background-color: #47A07E;
  border-radius: 5px;
  width: 354px;
  color: white;
  font-size: 16px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.zayavka {
  width: 100%;
  font-size: 16px;
}

.anketasecond {
  width: 100%;

  h1 {
    font-size: 32px;
    padding-top: 76px;
    padding-bottom: 32px;
    margin: 0;
    font-weight: bold;
  }

  h2 {
    font-size: 27px;
    margin: 0;
    font-style: normal;
    font-weight: 300;
    padding-bottom: 10px;

  }


  .textinsecs {
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 27px;
    color: #FFCB2F;
    margin: 0;

    a {
      text-decoration: none;
      font-size: 27px;
      color: #FFCB2F;
      margin: 0;
    }
  }
}


.texthelp {
  width: 100%;
  padding-left: 70px;
}

.imginfo {
  padding-top: 99px;
  padding-bottom: 89px;
}

.banki {
  width: 1140px;
  padding-top: 158px;
  margin: 0 auto;
  padding-bottom: 158px;
}

.levopravo {

}

.firststroka {
  width: 100%;

  a {
    width: 100%;
    margin-right: 24px;
    margin-left: 24px;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

.secondstroka {
  width: 100%;

  a {
    width: 100%;
    margin-right: 24px;
    margin-left: 24px;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

.fifthcont {
  width: 100%;
  background: #283237;
  display: inline-flex;
}

.fifthcontrazmer {
  width: 1140px;
  margin: 0 auto;
  padding-top: 141px;
  padding-bottom: 138px;
}

.fifthfirst {
  width: 100%;
  color: #92929D;

  h2 {
    font-weight: 500;
    font-size: 18px;
  }

  .knopochki {
    a {
      padding: 10px;

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        padding-right: 0;
      }
    }
  }
}

.fifthsecond {
  width: 100%;

  a {
    text-decoration: none;
    color: white;
  }

  h2 {
    font-weight: 500;
    font-size: 18px;
    padding-bottom: 15px;
  }

  p {
    font-weight: normal;
    font-size: 16px;
    color: #92929D;
    padding-top: 5px;
    padding-bottom: 5px;
  }
}

.fifththird {
  width: 100%;

  a {
    text-decoration: none;
    color: white;
  }

  h2 {
    font-weight: 500;
    font-size: 18px;
    padding-bottom: 15px;
  }

  p {
    font-weight: normal;
    font-size: 16px;
    color: #92929D;
    padding-top: 5px;
    padding-bottom: 5px;
  }
}

.fifthfourth {
  width: 100%;

  a {
    text-decoration: none;
    color: white;
  }

  h2 {
    font-weight: 500;
    font-size: 18px;
    padding-bottom: 15px;
  }

  p {
    font-weight: normal;
    font-size: 16px;
    color: #92929D;
    padding-top: 5px;
    padding-bottom: 5px;

  }
}

.inlinecont {
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
}

.zakl {
  width: 100%;
  display: inline-flex;
}

.textpod {
  width: 317px;
}

.punktir {
  width: 793px;
  border-bottom: 1px white dashed;
  position: absolute;
  z-index: 2;
}
</style>
